{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="module_enhanced_stock_status_status" value="0"/>
                <input type="checkbox" name="module_enhanced_stock_status_status" value="1" id="input-status" class="form-check-input" {% if module_enhanced_stock_status_status %} checked {% endif %}/>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_show_in_thumb }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="module_enhanced_stock_status_show_in_thumb" value="0"/>
                <input type="checkbox" name="module_enhanced_stock_status_show_in_thumb" value="1" id="input-show-in-thumb" class="form-check-input" {% if module_enhanced_stock_status_show_in_thumb %} checked {% endif %}/>
              </div>
              <div class="form-text">{{ help_show_in_thumb }}</div>
            </div>
          </div>

          <!-- Available Product Settings Section -->
          <fieldset>
            <legend>{{ entry_available_settings }}</legend>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">{{ entry_available_text }}</label>
              <div class="col-sm-10">
                {% for language in languages %}
                <div class="input-group">
                  <span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                  <input type="text" name="module_enhanced_stock_status_available[{{ language.language_id }}]" value="{{ module_enhanced_stock_status_available[language.language_id] ?? 'Available' }}" placeholder="{{ entry_available_text }}" id="input-available-{{ language.language_id }}" class="form-control" />
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">{{ entry_color }}</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-palette"></i></span>
                  <input type="color" name="module_enhanced_stock_status_available_color" value="{{ module_enhanced_stock_status_available_color }}" class="form-control" />
                </div>
                <div class="form-text">{{ help_color }}</div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">{{ entry_icon }}</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-icons"></i></span>
                  <input type="text" name="module_enhanced_stock_status_available_icon" value="{{ module_enhanced_stock_status_available_icon }}" class="form-control" />
                </div>
                <div class="form-text">{{ help_icon }}</div>
              </div>
            </div>
          </fieldset>


          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ entry_stock_status }}</th>
                  <th>{{ entry_color }}</th>
                  <th>{{ entry_icon }}</th>
                </tr>
              </thead>
              <tbody>
                {% for stock_status in stock_statuses %}
                <tr>
                  <td>{{ stock_status.name }}</td>
                  <td>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa-solid fa-palette"></i></span>
                      <input type="color" name="enhanced_status[{{ stock_status.stock_status_id }}][color]" value="{{ enhanced_statuses[stock_status.stock_status_id].color }}" class="form-control" />
                    </div>
                    <div class="form-text">{{ help_color }}</div>
                  </td>
                  <td>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa-solid fa-icons"></i></span>
                      <input type="text" name="enhanced_status[{{ stock_status.stock_status_id }}][icon]" value="{{ enhanced_statuses[stock_status.stock_status_id].icon }}" class="form-control" />
                    </div>
                    <div class="form-text">{{ help_icon }}</div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}